<div class="main-content">
    <div class="row">
        <div class="container-fluid h-50">
            <div class="row justify-content-center h-100">
                <!-- userlist -->
                <div class="col-md-4 col-xl-3 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text"  placeholder="Search..." name="" class="form-control search">
                                <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                            </div>
                        </div>
                        <div class="card-body contacts_body" *ngIf="role=='Student'">
                            <ul class="contacts" >
                                <li [ngClass]="cssclass" *ngFor="let s of TeacherList;let i = index" (click)="openChat(s)">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont" *ngIf="s.gender =='male'">
                                            <img src="../../assets/img/avatarmale.png"
                                                class="rounded-circle user_img">
                                            <!-- <span class="online_icon"></span> -->
                                        </div>
                                        <div class="img_cont" *ngIf="s.gender =='female'">
                                            <img src="../../assets/img/avatarfemale.png"
                                                class="rounded-circle user_img">
                                            <!-- <span class="online_icon"></span> -->
                                        </div>
                                        <div class="user_info">
                                            <span>{{s.firstname}}   {{s.lastname}}</span>
                                            <!-- <p>Kalid is online</p> -->
                                        </div>
                                    </div>
                                </li> 
                            </ul>
                        </div>
                        <div class="card-body contacts_body" *ngIf="role=='Teacher'">
                            <ul class="contacts" >
                                <li  [ngClass]="s.cssclass" *ngFor="let s of studentsList;let i = index" (click)="openChat(s)">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont" *ngIf="s.gender =='male'">
                                            <img src="../../assets/img/avatarmale.png"
                                                class="rounded-circle user_img">
                                            <!-- <span class="online_icon"></span> -->
                                        </div>
                                        <div class="img_cont" *ngIf="s.gender =='female'">
                                            <img src="../../assets/img/avatarfemale.png"
                                                class="rounded-circle user_img">
                                            <!-- <span class="online_icon"></span> -->
                                        </div>
                                        <div class="user_info">
                                            <span>{{s.firstname}} {{s.middlename}} {{s.lastname}}</span>
                                            <p style="font-size: 1rem;">{{s.std}}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <!-- actual chat box -->
                <div class="col-md-8 col-xl-6 chat">
                    <div class="card" *ngIf="activechat != null">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont" *ngIf="activechat.gender =='male'">
                                    <img src="../../assets/img/avatarmale.png"
                                        class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="img_cont" *ngIf="activechat.gender =='female'">
                                    <img src="../../assets/img/avatarfemale.png"
                                        class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info_S">
                                    <span>{{activechat.firstname}} {{activechat.middlename}} {{activechat.lastname}}</span>
                                    <p style="font-size: 1rem;">{{activechat.std}}</p>
                                </div>
                                <div class="video_cam">
                                    <span><i class="fas fa-video"></i></span>
                                    <span><i class="fas fa-phone"></i></span>
                                </div>
                            </div>
                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                            <div class="action_menu">
                                <ul>
                                    <li><i class="fas fa-user-circle"></i> View profile</li>
                                    <li><i class="fas fa-users"></i> Add to close friends</li>
                                    <li><i class="fas fa-plus"></i> Add to group</li>
                                    <li><i class="fas fa-ban"></i> Block</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body msg_card_body" *ngFor="let m of messages">
                             <!-- receiver -->
                            <div class="d-flex justify-content-start mb-4" *ngIf="uid != m.sender">
                                <div class="img_cont_msg" *ngIf="activechat.gender=='male'">
                                    <img src="../../assets/img/avatarmale.png"
                                        class="rounded-circle user_img_msg">
                                </div>
                                <div class="img_cont_msg" *ngIf="activechat.gender=='female'">
                                    <img src="../../assets/img/avatarfemale.png"
                                        class="rounded-circle user_img_msg">
                                </div>
                               
                                <div class="msg_cotainer">
                                    {{m.message}} <br> 
                                    <!-- <span class="msg_time">{{m.createddate | date}} {{m.Time}}</span> -->
                                    
                                </div>
                               
                            </div>
                            <!-- sender -->
                            <div class="d-flex justify-content-end mb-4" *ngIf="uid == m.sender">
                                <div class="msg_cotainer">
                                    {{m.message}} 
                                   <br> 
                                   <!-- <span class="msg_time">{{m.createddate | date}} {{m.Time}}</span> -->
                                </div>
                                <div class="img_cont_msg" *ngIf="gender=='male'">
                                    <img src="../../assets/img/avatarmale.png"
                                        class="rounded-circle user_img_msg">
                                </div>
                                <div class="img_cont_msg" *ngIf="gender=='female'">
                                    <img src="../../assets/img/avatarfemale.png"
                                        class="rounded-circle user_img_msg">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                                <textarea name="" class="form-control type_msg"
                                    placeholder="Type your message..." [(ngModel)]="msgs.msg"></textarea>
                                    <span class="input-group-text send_btn" (click)="sendmsg()"><i class="fas fa-location-arrow"></i></span>
                                <div class="input-group-append">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>