<div class="main-content">
  <!-- Add Subjects -->
  <div class="card" *ngIf="!openChapaters">
    <div class="card-header">
      <div class="row">
        <div class="col-md-9">
          <h4 class="card-title">Add Subject</h4>
        </div>
        <div class="ml-md-auto">
          <button type="submit" class="btn btn-primary btn-round" routerLink="/manage/std">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Standard
          </button>
          <button class="btn btn-primary btn-round" *ngIf="selectedStd" (click)="addChapaters()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Chapters
          </button>
          <button type="cancel" class="btn btn-danger btn-round" routerLink="/dashboard">
            <i class="fa fa-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form class="form-horizontal" name="SubjectForm" #SubjectForm="ngForm">
        <div class="row">
          <label class="col-sm-1 col-form-label">Select Standard</label>
          <div class="col-sm-3">
            <div class="dropdown form-group">
              <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ selectedStd }}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-header">Select STD</div>
                <div *ngFor="let s of STD">
                  <a class="dropdown-item" (click)="selectSTDList(s.id)" style="color:#252422 !important">{{
                    s.stdname
                    }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let add of addSubjects; let ind = index">
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
              <input type="text" class="form-control" id="sname" name="sname" placeholder=" Enter Subject Name"
                [(ngModel)]="add.subject" required value="" pattern="^[a-zA-Z]+$" (focus)="focus = true"
                #sname="ngModel" />
            </div>
            <div *ngIf="sname.errors && (sname.dirty || sname.touched)" class="alert alert-danger">
              <div *ngIf="sname.errors.required">Subject Name is required</div>
              <div [hidden]="!sname.errors('pattern')">
                Enter Only Characters.
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="addSubjectList()"
              style="font-size: 33px !important; margin-top: 5% !important"></i>
          </div>
          <div class="col-md-1" *ngIf="ind > 0">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSubjectList(ind)" style="
                font-size: 33px !important;
                margin-top: 5% !important;
                margin-left: -80px !important;
              "></i>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="ml-md-auto">
          <button type="submit" class="btn btn-primary btn-round" [disabled]="!SubjectForm.form.valid || !selectedStd"
            (click)="saveSubject(add)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Manage Subjects -->
  <div class="card" *ngIf="!openChapaters">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-3">
          <h4 class="card-title">Subjects With Standard</h4>
        </div>
        <label class="col-sm-1 col-form-label">Select Standard</label>
        <div class="col-sm-3">
          <div class="dropdown form-group">
            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button" name="dropdownMenuButton"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedStd }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-header">Select STD</div>
              <div *ngFor="let s of STD">
                <a class="dropdown-item" (click)="selectSTDList(s.id)">{{
                  s.stdname
                  }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-md-auto">
          <button class="btn btn-primary btn-round" *ngIf="selectedStd" (click)="addChapaters()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Chapters
          </button>
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped ">
          <thead class="text-primary">
            <tr>
              <th>#</th>
              <th>Standard Name</th>
              <th>Subject Name</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subjects | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{item.index}}</td>
              <td>{{selectedStd}}</td>
              <td>{{item.subject}}</td>

              <td class="text-right">
                <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm edit"><i class="fa fa-edit"
                    data-toggle="modal" data-target="#noticeModal" (click)="editSubject(item)"></i></a>
                <a href="javascript:void(0)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i
                    class="fa fa-times" (click)="removeSubject(item.id)"></i></a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="ml-md-auto">
          <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" responsive="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- subject Model -->
  <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h5 class="modal-title" id="myModalLabel">Update Subject Name</h5>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <form class="form-horizontal" name="mainCateRegForm" #mainCateRegForm="ngForm">
              <div class="row">
                <label class="col-sm-4 col-form-label">Stanadard</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="selectedStd"
                      disabled />
                  </div>
                </div>
                <label class="col-sm-4 col-form-label">Update Subject</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" [(ngModel)]="editSub.subject" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary btn-round" data-dismiss="modal" (click)="updateSubject(editSub)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Chapaters -->
  <div class="card" *ngIf="openChapaters">
    <div class="card-header">
      <div class="row">
        <div class="col-md-9">
          <h4 class="card-title">Add Chapters</h4>
        </div>
        <div class="ml-md-auto">
          <button type="submit" class="btn btn-primary btn-round" (click)="addSubjectsList()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Subjects
          </button>
          <button type="cancel" class="btn btn-danger btn-round" (click)="addSubjectsList()">
            <i class="fa fa-arrow-left"></i> Back
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <form class="form-horizontal" name="ChapatersForm" #ChapatersForm="ngForm">
        <div class="row">
          <label class="col-sm-1 col-form-label">Selected Standard</label>
          <div class="col-sm-3">
            <div class="form-group">
              <input type="text" class="form-control" id="std" name="std" disabled required value="{{selectedStd}}" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-1 col-form-label">Select Subject</label>
          <div class="col-sm-3">
            <div class="dropdown form-group">
              <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ selectedSub }}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-header">Select Subject</div>
                <div *ngFor="let s of subjects">
                  <a class="dropdown-item" (click)="selectSubjectList(s.id)" style="color:#252422 !important">{{
                    s.subject
                    }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let add of addChapt; let ind = index">
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
              <input type="text" class="form-control" id="chapname" name="chapname" placeholder=" Enter chapter Name"
                [(ngModel)]="add.chap" required value="" pattern="^[a-zA-Z0-9 ]+$" (focus)="focus = true"
                #chapname="ngModel" />
            </div>
            <div *ngIf="chapname.errors && (chapname.dirty || chapname.touched)" class="alert alert-danger">
              <div *ngIf="chapname.errors.required">chapter Name is required</div>
              <div *ngIf="chapname.errors.pattern">
                Enter Only Characters.
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <i class="fa fa-plus-circle" aria-hidden="true" (click)="addChapList(add)"
              style="font-size: 33px !important; margin-top: 5% !important"></i>
          </div>
          <div class="col-md-1" *ngIf="ind > 0">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="removeChapList(ind)" style="
                  font-size: 33px !important;
                  margin-top: 5% !important;
                  margin-left: -80px !important;
                "></i>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="ml-md-auto">
          <button type="submit" class="btn btn-primary btn-round" [disabled]="!ChapatersForm.form.valid || !selectedSub"
            (click)="saveChapatersList(add)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Manage Chapaters -->
  <div class="card" *ngIf="openChapaters">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-3">
          <h4 class="card-title">Manage Chapters</h4>
        </div>
        <label class="col-sm-1 col-form-label">Select subjects</label>
        <div class="col-sm-3">

          <div class="dropdown form-group">
            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button" name="dropdownMenuButton"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedSub }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" title="Choose Package">
              <div class="dropdown-header">Select Subject</div>
              <div *ngFor="let s of subjects">
                <a class="dropdown-item" (click)="selectSubjectList(s.id)" style="color:#252422 !important">{{
                  s.subject
                  }}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ml-md-auto">
          <!-- <button class="btn btn-primary btn-round" *ngIf="selectedStd" (click)="addChapaters()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Chapaters
          </button> -->
        </div>
      </div>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped ">
          <thead class="text-primary">
            <tr>
              <th>#</th>
              <th>Standard Name</th>
              <th>Subject Name</th>
              <th>Chapter Name</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of chapater | paginate: { itemsPerPage: 5, currentPage: pa }">
              <td>{{item.index}}</td>
              <td>{{selectedStd}}</td>
              <td>{{selectedSub}}</td>
              <td>{{item.chapname}}</td>

              <td class="text-right">
                <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm edit"><i class="fa fa-edit"
                    data-toggle="modal" data-target="#chapModal" (click)="editChapater(item)"></i></a>
                <a href="javascript:void(0)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i
                    class="fa fa-times" (click)="removeChapater(item.id)"></i></a>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="ml-md-auto">
          <pagination-controls (pageChange)="pa = $event" maxSize="5" autoHide="true" responsive="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!-- Chapaters Model -->
  <div class="modal fade" id="chapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h5 class="modal-title" id="myModalLabel">Update Chapter Name</h5>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <form class="form-horizontal" name="mainForm" #mainForm="ngForm">
              <div class="row">
                <label class="col-sm-4 col-form-label">Stanadard</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="std" name="std" value="{{selectedStd}}" disabled />
                  </div>
                </div>
                <label class="col-sm-4 col-form-label">Subject</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="sub" name="sub" value="{{selectedSub}}" disabled />
                  </div>
                </div>
                <label class="col-sm-4 col-form-label">Update Subject</label>
                <div class="col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject"
                      [(ngModel)]="chapModel.chapname" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary btn-round" data-dismiss="modal"
            (click)="updateChapaterList(chapModel)">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>

</div>