<div class="main-content">
  <div class="row">
    <div class="col col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Standard</h4>
        </div>
        <div class="card-body">
          <div class="dropdown form-group">
            <button class="dropdown-toggle btn btn-round btn-block" type="button" name="dropdownMenuButton"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedStd }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-header">Select Standard</div>
              <div *ngFor="let std of standards">
                <a class="dropdown-item" (click)="selectSTDList(std.id)">{{
                  std.stdname
                  }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Subjects</h4>
        </div>
        <div class="card-body">
          <div class="dropdown form-group">
            <button class="dropdown-toggle btn btn-round btn-block" type="button" name="dropdownMenuButton"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedSubject }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-header">Select Subject</div>
              <div *ngFor="let sub of subjects">
                <a class="dropdown-item" (click)="selectSubjectList(sub.id)">{{
                  sub.subject
                  }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col col-sm-12 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tests</h4>
        </div>
        <div class="card-body">
          <div class="dropdown form-group">
            <button class="dropdown-toggle btn btn-round btn-block" type="button" name="dropdownMenuButton"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedTest }}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="dropdown-header">Select Test</div>
              <div *ngFor="let t of filterTests">
                <a class="dropdown-item" (click)="selectTest(t.id)">{{
                  t.title
                  }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Test List</h4>
    </div>
    <div class="card-body">
      <div class="table-full-width table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Test Name</th>
              <th class="text-center">Total Marks</th>
              <th class="text-center">Total Duration</th>
              <th class="text-center">Create Date</th>
              <th class="text-center">Test Date</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of TestList | paginate: { itemsPerPage: 5, currentPage: p }">
              <td class="text-center">{{item.index}}</td>
              <td class="text-center">{{ item.testname }}</td>
              <td class="text-center">{{ item.totalmarks }}</td>
              <td class="text-center">{{ item.totalminute }}</td>
              <td class="text-center">{{ item.createdate | date}}</td>
              <td class="text-center">{{ item.updateddate | date}}</td>
              <td class="text-right">
                <a class="btn btn-warning btn-link btn-icon btn-sm edit">
                  <i class="fa far fa-eye" data-toggle="modal" data-target="#testModal" (click)="ViewTestQue(item)"></i>
                </a>
                <a class="btn btn-danger btn-link btn-icon btn-sm remove"><i class="fa fa-times"
                    (click)="removeTestList(item.id)"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer ">
      <div class="row">
        <div class="ml-md-auto">
          <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" responsive="true">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-notice">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h5 class="modal-title" id="myModalLabel">Create Test / Quiz</h5>
        </div>
        <div class="modal-body">
          <div class="instruction">
            <form class="form-vertical" #quizform="ngForm">
              <div class="form-group row">
                <label for="testname" class="col-sm-2 col-form-label">Test Name:
                </label>
                <div class="col-sm-10">
                  <input type="text" disabled [(ngModel)]="questionModel.testname" class="form-control" name="testname"
                    value="" />
                </div>
              </div>
              <div class="form-group row">
                <label for="standard" class="col-sm-2 col-form-label">Standard:
                </label>
                <div class="col-sm-4">
                  <input type="text" disabled [(ngModel)]="questionModel.stdname" readonly class="form-control"
                    name="stdname" value="" />
                  <!-- <input type="hidden" [ngModel]="standardId" readonly class="form-control" name="standardId" value=""> -->
                </div>
                <label for="subject" class="col-sm-2 col-form-label">Subject:
                </label>
                <div class="col-sm-4">
                  <input type="text" disabled [(ngModel)]="questionModel.subname" readonly class="form-control"
                    name="subname" value="" />
                  <!-- <input type="hidden" [ngModel]="subjectId" readonly class="form-control" name="subjectId" value=""> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="totalquestion" class="col-sm-2 col-form-label">Total Questions:
                </label>
                <div class="col-sm-2">
                  <input type="text" disabled [(ngModel)]="questionModel.totalque" readonly
                    class="form-control-plaintext" name="totalque" value="" />
                </div>
                <label for="totalmarks" class="col-sm-2 col-form-label">Total Marks:
                </label>
                <div class="col-sm-2">
                  <input type="text" disabled [(ngModel)]="questionModel.totalmarks" readonly
                    class="form-control-plaintext" name="totalmarks" value="" />
                </div>
                <label for="totalduration" class="col-sm-2 col-form-label">Duration:
                </label>
                <div class="col-sm-2">
                  <input type="text" disabled [(ngModel)]="questionModel.totalminute" readonly
                    class="form-control-plaintext" name="totalminute" value="" />
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th class="text-center">#</th>
                        <th class="text-center">Questions type</th>
                        <th class="text-center">Questions</th>
                        <th class="text-center">Questions Image</th>
                        <th class="text-center">Marks</th>
                        <th class="text-center">Duration(Minutes)</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of queList | paginate: { itemsPerPage: 5, currentPage: p };let i=index">
                          <td class="text-center">{{ i + 1 }}</td>
                          <td class="text-center">{{ item.quetype }}</td>
                          <td class="text-center" *ngIf="item.question == 'undefined'"></td>
                          <td class="text-center" *ngIf="item.question != 'undefined'">{{ item.question }}</td>
                          <td class="text-center">
                            <div class="img-container" *ngIf="item.imageque != null">
                              <img *ngIf="item.imageque != null" src="http://31.220.59.174:3000{{ item.imageque }}"
                                style="height: 40% !important;width: 40% !important;" />
                            </div>
                            <label *ngIf="item.imageque == null" style="font-size: larger;font-weight: bold;">-</label>
                          </td>
                         
                          <td class="text-center">
                            {{ item.marks }}
                          </td>
                          <td class="text-center">
                            {{ item.time }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-footer ">
                  <div class="row">
                    <div class="ml-md-auto">
                      <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" responsive="true">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button *ngIf="questionModel.activetest == 1" type="submit" class="btn btn-success btn-round"
                  data-dismiss="modal" (click)="SendLinkToStudent(questionModel.id)">
                  <i class="fa fa-link" aria-hidden="true"></i> Already Sent
                  Link
                </button>
                <button *ngIf="questionModel.activetest == 0" type="submit" class="btn btn-primary btn-round"
                  data-dismiss="modal" (click)="SendLinkToStudent(questionModel.id)">
                  <i class="fa fa-link" aria-hidden="true"></i> Send Link
                </button>
                <button type="button " class="btn btn-secondary btn-round" data-dismiss="modal">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedTestData" class="row">
    <div class="col col-sm-12">
      <div class="card text-center">
        <h2 class="card-header">Exam Information</h2>
        <div class="card-body">
          <h4 class="card-title">Title: {{ selectedTestData.title }}</h4>
          <ul class="list-group">
            <li class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              ">
              Total Questions:
              <span class="badge badge-primary">{{
                selectedTestData.totalQuestions
                }}</span>
            </li>
            <li class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              ">
              Total Marks:
              <span class="badge badge-primary">{{
                selectedTestData.totalMarks
                }}</span>
            </li>
            <li class="
                list-group-item
                d-flex
                justify-content-between
                align-items-center
              ">
              Total Duration:
              <span class="badge badge-primary">{{
                selectedTestData.totalDuration
                }}</span>
            </li>
          </ul>
          <button type="button" class="btn btn-primary" (click)="showRulesBox()">
            <i class="fa fa-hourglass-start" aria-hidden="true"></i> Begin
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="ruleBoxFlag" class="row card">
    <div class="col-md-12 mr-auto ml-auto">
      <div class="card-body" data-color="primary">
        <h4 class="text-center">
          Before You Start the Exam, Here are the Rules:
        </h4>
        <ol type="1">
          <li>The quiz will be of half an hour duration.</li>
          <li>You can attempt the quiz only once.</li>
          <li>All questions are Multiple Choice Question.</li>
          <li>Only one choice is correct.</li>
          <li>
            Every question carry different of marks. No negative marking for
            wrong answers.
          </li>
          <li>Try answer as quickly as you can.</li>
          <li>
            If you press Refresh or Go Back to previous page, there will be new
            question for you and the question you were on will be counted as
            attempted.
          </li>
          <li>
            You will be able to see the RESULT immediately when you submit the
            answer.
          </li>
          <li>Click Start Test to attempt the quiz.</li>
          <li>
            The time will start the moment you click the Start Test button.
          </li>
          <li>You can resume this quiz, if interrupted due to any reason.</li>
          <li>
            Click on Next button to move next question. Please note that you
            will not be able to go back to any of the previous question after
            clicking Next button.
          </li>
          <li>Click on Submit Test button on completion of the quiz.</li>
        </ol>
        <div class="row">
          <div class="col col-sm-12 text-center">
            <button type="cancel" class="btn btn-round" routerLink="/dashboard">
              Cancel
            </button>
            <button type="button" class="btn btn-round btn-success" (click)="showQuestionsBox()">
              <i class="fa fa-hourglass-start" aria-hidden="true"></i> START
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="questionBoxFlag" class="row">
    <div class="col-md-10 mr-auto ml-auto">
      <div *ngFor="let dt of filterQuestions; let i = index" class="jumbotron" data-color="primary"
        id="{{ 'que' + i }}">
        <h2>{{ dt.question }}</h2>
        <div *ngFor="let op of dt.options">
          <div *ngIf="dt.isMCQ" class="row">
            <div *ngIf="!dt.isMultiChoice" class="col col-sm-12">
              <label><input name="radioOpt" type="radio" />{{ op }}</label>
            </div>
            <div *ngIf="dt.isMultiChoice" class="col col-sm-12">
              <label><input type="checkbox" />{{ op }}</label>
            </div>
          </div>
        </div>
        <div *ngIf="!dt.isMCQ" class="row">
          <div class="col col-sm-12">
            <label for="ansta">Write Your Answer Here</label>
            <pre></pre>
            <textarea id="ansta" name="ansta" rows="4" cols="100"></textarea>
          </div>
        </div>
        <div class="sq"></div>
        <div class="lq"></div>
      </div>
    </div>
  </div>
</div>