<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-wrapper">
            <div class="navbar-toggle" (click)="sidebarToggle()">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>

            <a class="navbar-brand" routerLinkActive="active" target="_blank" href="https://csquare.org.in">
                <!-- <img style="max-height: 40px;" src="../../../assets/img/logo1.png"> -->
                <!-- <img style="max-height: 40px;" src="../../../assets/img/logo123.png"> -->
                <img style="max-height: 40px;" src="../../../assets/img/logo1.png">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLinkActive="active" target="_blank" href="https://csquare.org.in" class="nav-link">
                        <i class="nc-icon nc-layout-11"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" target="_blank" href="https://csquare.org.in/about.html"
                        class="nav-link">
                        <i class="nc-icon nc-book-bookmark"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" onmouseover="this.style.color ='#000000';" target="_blank"
                        href="https://csquare.org.in/courses.html" class="nav-link">
                        <i class="nc-icon nc-tap-01"></i> Courses
                    </a>
                </li>
                <li class="nav-item ">
                    <a routerLinkActive="active" target="_blank" href="https://csquare.org.in/contact.html"
                        class="nav-link">
                        <i class="nc-icon nc-satisfied"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page ">
    <div class="full-page section-image" filter-color="red" data-image="./assets/img/bg/student2.jpg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <form class="register-form" name="loginForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">

                        <div class="card card-login">
                            <div class="card-header ">
                                <h3 class="header text-center">Login</h3>
                            </div>
                            <div class="card-body ">
                                <div class="dropdown form-group">
                                    <button class="dropdown-toggle btn btn-round btn-block"
                                        style="background-color: #ef8157;color: #FFFFFF;" type="button"
                                        name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">{{selectedRole}}
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-header">Select User</div>
                                        <div *ngFor="let ro of role">
                                            <a class="dropdown-item" (click)="selectRole(ro.name)">{{ro.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <input type="email" id="email" name="eInput" placeholder="Email"
                                        class="form-control" [(ngModel)]="loginModel.email"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel"
                                        required email [ngClass]="{ 'is-invalid': submitted && loginForm.email.errors }"
                                        aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                                    <div [hidden]="!email.hasError('required')">Email is required</div>
                                    <div [hidden]="!email.hasError('pattern')">Email format should be
                                        <small><b>joe@abc.com</b></small>
                                    </div>
                                </div>

                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <input type="password" id="password" name="password" placeholder="Password"
                                        minlength="6" class="form-control" [(ngModel)]="loginModel.password"
                                        required="true" value="" #password="ngModel" type="password" required
                                        aria-describedby="basic-addon1" (focus)="focus=true" (blur)="focus=false">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"
                                                aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div [hidden]="(password.valid || password.pristine || password.untouched )"
                                    class="alert alert-danger">
                                    <div [hidden]="!password.hasError('minlength')">password should be 6 digit</div>
                                    <div [hidden]="!password.hasError('required')">password is required</div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <a routerLink='/pages/forgotpwd' style="font-weight: 500;">Forgot Password ?</a>
                                    <!-- <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked="">
                                            <span class="form-check-sign"></span>
                                            Subscribe to newsletter
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="card-footer ">
                                <!-- <a href="javascript:void(0)"  (click)="Login()" class="btn btn-warning btn-round btn-block mb-3">Get Started</a> -->
                                <button class="btn btn-danger btn-block btn-round" id="registration-submit"
                                    (click)="login(loginModel)" value="Sign in"
                                    [disabled]="!loginForm.form.valid || !selectedRole"><i class="fa fa-sign-in"
                                        aria-hidden="true"></i> Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container">
                <div class="row">
                    <nav class="footer-nav">
                        <ul>

                            <li>
                                <a target="_blank" href="https://www.keryar.com">
                                    Keryar
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://keryar.com/why">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a>
                                    Licenses
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            &copy; {{test | date: 'yyyy'}}, Managed by <a target="_blank"
                                href="https://www.keryar.com">Keryar</a>
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>