<div class="main-content">
    <!------------------------------------------Header Start Here--------------------------------------------->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-auto mr-auto">
                    <button type="cancel" class="btn btn-danger btn-round" routerLink="/dashboard">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-round" (click)="manageStd()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Standard
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-round" (click)="manageSubject()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Subject
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-round" (click)="manageChapater()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Chapater
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-info btn-round" (click)="manageSyllabus()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Syllabus
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="card-body">
            <div class="row">

            </div>
        </div> -->
    </div>
    <!------------------------------------------Header End Here----------------------------------------------->
    <!------------------------------------------Standard Start Here------------------------------------------->
    <div class="card" *ngIf="openStd">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="card-title">Add Standard</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="stdRegForm" #stdRegForm="ngForm">
                <div class="row">
                    <label class="col-md-2 col-form-label">Enter Standard</label>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="stdname" name="stdname"
                                [(ngModel)]="StdModel.stdname" placeholder="Enter Standard" required value=""
                                pattern="^[a-zA-Z0-9 ]+$" (focus)="focus = true" #stdname="ngModel" />
                        </div>
                        <div *ngIf="stdname.errors && (stdname.dirty || stdname.touched)" class="alert alert-danger">
                            <div *ngIf="stdname.errors.required">
                                Standard Name is required
                            </div>
                            <div [hidden]="!stdname.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" [disabled]="!stdRegForm.form.valid" (click)="addStdList()"
                        class="btn btn-info btn-round">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="openStd">
        <div class="card-header">
            <h4 class="card-title">Standard List</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Standard Name</th>
                            <th class="text-center">Subject</th>
                            <th class=" text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of STD | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td class="text-center">{{item.index}}</td>
                            <td class="text-center">{{ item.stdname }}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-round" (click)="addSubjectFromTable(item.id)"><i
                                        class="fa fa-plus"></i> Subject</button>

                            </td>
                            <td class="text-right">
                                <a class="btn btn-warning btn-link btn-icon btn-sm edit" data-toggle="modal"
                                    data-target="#standardModal">
                                    <i class="fa far fa-eye" (click)="editStandard(item)"></i>
                                </a>
                                <a class="btn btn-danger btn-link btn-icon btn-sm remove"><i class="fa fa-times"
                                        (click)="removeStandard(item.id)"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Update Standard Name</h5>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <form class="form-horizontal" name="mainCateRegForm" #mainCateRegForm="ngForm">
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Standard Name</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="standard" name="standard"
                                            [(ngModel)]="editStd.stdname" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info btn-round" data-dismiss="modal"
                        (click)="updateStandardList(editStd)">
                        Update
                    </button>
                    <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------Standard End Here--------------------------------------------->

    <!------------------------------------------Subject Start Here-------------------------------------------->
    <div class="card" *ngIf="openSubject">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Add Subject</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="SubjectForm" #SubjectForm="ngForm">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label class="col-form-label">Select Standard</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedStd }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Standard</div>
                                <div *ngFor="let s of STD">
                                    <a class="dropdown-item" (click)="selectSTDList(s.id)"
                                        style="color:#252422 !important">{{
                                        s.stdname
                                        }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label">Enter Subjects</label>
                        <div class="row" *ngFor="let add of addSubjects; let ind = index">
                            <div class="col-md-3">
                                <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                    <input type="text" class="form-control" id="sname" name="sname"
                                        placeholder=" Enter Subject Name" [(ngModel)]="add.subject" required value=""
                                        pattern="^[a-zA-Z]+$" (focus)="focus = true" #sname="ngModel" />
                                </div>
                                <div *ngIf="sname.errors && (sname.dirty || sname.touched)" class="alert alert-danger">
                                    <div *ngIf="sname.errors.required">Subject Name is required</div>
                                    <div [hidden]="!sname.errors('pattern')">
                                        Enter Only Characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-plus-circle" aria-hidden="true" (click)="addSubjectList()"
                                    style="font-size: 33px !important;"></i>
                            </div>
                            <div class="col-md-1" *ngIf="ind > 0">
                                <i class="fa fa-times-circle" aria-hidden="true" (click)="removeSubjectList(ind)" style="
                        font-size: 33px !important;"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round"
                        [disabled]="!SubjectForm.form.valid || !selectedStd" (click)="saveSubject(add)">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="openSubject">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="card-title">Subjects With Standard</h4>
                </div>
                <label class="col-sm-1 col-form-label">Select Standard</label>
                <div class="col-sm-3">
                    <div class="dropdown form-group">
                        <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                            name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{ selectedStd }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-header">Select STD</div>
                            <div *ngFor="let s of STD">
                                <a class="dropdown-item" (click)="selectSTDList(s.id)">{{
                                    s.stdname
                                    }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-md-auto">
                    <button class="btn btn-info btn-round" *ngIf="selectedStd" (click)="addChapaters()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Chapters
                    </button>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead class="text-primary">
                        <tr>
                            <th>#</th>
                            <th>Standard Name</th>
                            <th>Subject Name</th>
                            <th class="text-center">Chapater</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of subjects | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{item.index}}</td>
                            <td>{{selectedStd}}</td>
                            <td>{{item.subject}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-round" (click)="addChapaterFromTable(item.id)"><i
                                        class="fa fa-plus"></i>
                                    Chapater</button>

                            </td>

                            <td class="text-right">
                                <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm edit"><i
                                        class="fa fa-edit" data-toggle="modal" data-target="#noticeModal"
                                        (click)="editSubject(item)"></i></a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i
                                        class="fa fa-times" (click)="removeSubject(item.id)"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <pagination-controls (pageChange)="p = $event" maxSize="5" autoHide="true" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Update Subject Name</h5>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <form class="form-horizontal" name="mainCateRegForm" #mainCateRegForm="ngForm">
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Stanadard</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username" name="username"
                                            [(ngModel)]="selectedStd" disabled />
                                    </div>
                                </div>
                                <label class="col-sm-4 col-form-label">Update Subject</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            [(ngModel)]="editSub.subject" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info btn-round" data-dismiss="modal"
                        (click)="updateSubject(editSub)">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------Subject End Here--------------------------------------------->

    <!------------------------------------------Chapaters Start Here----------------------------------------->
    <div class="card" *ngIf="openChapater">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Add Chapters</h4>
                </div>
                <!-- <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round" (click)="addSubjectsList()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Subjects
                    </button>
                    <button type="cancel" class="btn btn-danger btn-round" (click)="addSubjectsList()">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div> -->
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="ChapatersForm" #ChapatersForm="ngForm">
                <div class="row">
                    <!-- <label class="col-sm-1 col-form-label">Selected Standard</label>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="std" name="std" disabled required
                                value="{{selectedStd}}" />
                        </div>
                    </div> -->
                    <div class="col-md-3">
                        <label class="col-form-label">Select Standard</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedStd }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Standard</div>
                                <div *ngFor="let s of STD">
                                    <a class="dropdown-item" (click)="selectSTDList(s.id)"
                                        style="color:#252422 !important">{{
                                        s.stdname
                                        }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Select Subject</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedSub }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Subject</div>
                                <div *ngFor="let s of subjects">
                                    <a class="dropdown-item" (click)="selectSubjectList(s.id)"
                                        style="color:#252422 !important">{{
                                        s.subject
                                        }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Enter Chapater Name</label>
                        <div class="row" *ngFor="let add of addChapt; let ind = index">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                                    <input type="text" class="form-control" id="chapname" name="chapname"
                                        placeholder=" Enter chapter Name" [(ngModel)]="add.chap" required value=""
                                        pattern="^[a-zA-Z0-9 ]+$" (focus)="focus = true" #chapname="ngModel" />
                                </div>
                                <div *ngIf="chapname.errors && (chapname.dirty || chapname.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="chapname.errors.required">chapter Name is required</div>
                                    <div *ngIf="chapname.errors.pattern">
                                        Enter Only Characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <i class="fa fa-plus-circle" aria-hidden="true" (click)="addChapList(add)"
                                    style="font-size: 33px !important;"></i>
                            </div>
                            <div class="col-md-1" *ngIf="ind > 0">
                                <i class="fa fa-times-circle" aria-hidden="true" (click)="removeChapList(ind)"
                                    style="font-size: 33px !important;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round"
                        [disabled]="!ChapatersForm.form.valid || !selectedSub" (click)="saveChapatersList(add)">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="openChapater">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="card-title">Manage Chapters</h4>
                </div>
                <label class="col-sm-1 col-form-label">Select subjects</label>
                <div class="col-sm-3">

                    <div class="dropdown form-group">
                        <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                            name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{ selectedSub }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                            title="Choose Package">
                            <div class="dropdown-header">Select Subject</div>
                            <div *ngFor="let s of subjects">
                                <a class="dropdown-item" (click)="selectSubjectList(s.id)"
                                    style="color:#252422 !important">{{
                                    s.subject
                                    }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ml-md-auto">
                    <!-- <button class="btn btn-info btn-round" *ngIf="selectedStd" (click)="addChapaters()">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Chapaters
          </button> -->
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead class="text-primary">
                        <tr>
                            <th>#</th>
                            <th>Standard Name</th>
                            <th>Subject Name</th>
                            <th>Chapter Name</th>
                            <th class="text-center">Syllabus</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of chapater | paginate: { itemsPerPage: 5, currentPage: pa }">
                            <td>{{item.index}}</td>
                            <td>{{selectedStd}}</td>
                            <td>{{selectedSub}}</td>
                            <td>{{item.chapname}}</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-round" (click)="addSyllabusFromTable(item.id)"><i
                                        class="fa fa-plus"></i>
                                    Syllabus</button>

                            </td>
                            <td class="text-right">
                                <a href="javascript:void(0)" class="btn btn-warning btn-link btn-icon btn-sm edit"><i
                                        class="fa fa-edit" data-toggle="modal" data-target="#chapModal"
                                        (click)="editChapater(item)"></i></a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-link btn-icon btn-sm remove"><i
                                        class="fa fa-times" (click)="removeChapater(item.id)"></i></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <pagination-controls (pageChange)="pa = $event" maxSize="5" autoHide="true" responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notice">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Update Chapter Name</h5>
                </div>
                <div class="modal-body">
                    <div class="instruction">
                        <form class="form-horizontal" name="mainForm" #mainForm="ngForm">
                            <div class="row">
                                <label class="col-sm-4 col-form-label">Stanadard</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="std" name="std"
                                            value="{{selectedStd}}" disabled />
                                    </div>
                                </div>
                                <label class="col-sm-4 col-form-label">Subject</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="sub" name="sub"
                                            value="{{selectedSub}}" disabled />
                                    </div>
                                </div>
                                <label class="col-sm-4 col-form-label">Update Subject</label>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" name="subject"
                                            [(ngModel)]="chapModel.chapname" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-info btn-round" data-dismiss="modal"
                        (click)="updateChapaterList(chapModel)">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------Chapaters End Here------------------------------------------->

    <!------------------------------------------Syllabus Start Here------------------------------------------>
    <div class="card" *ngIf="openSyllabus">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Add Syllabus</h4>
                </div>
                <!-- <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round" (click)="addSubjectsList()">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Subjects
                    </button>
                    <button type="cancel" class="btn btn-danger btn-round" (click)="addSubjectsList()">
                        <i class="fa fa-arrow-left"></i> Back
                    </button>
                </div> -->
            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" name="SyllabusForm" #SyllabusForm="ngForm">
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-form-label">Select Standard</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedStd }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Standard</div>
                                <div *ngFor="let s of STD">
                                    <a class="dropdown-item" (click)="selectSTDList(s.id)"
                                        style="color:#252422 !important">{{
                                        s.stdname
                                        }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Select Subject</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedSub }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Subject</div>
                                <div *ngFor="let s of subjects">
                                    <a class="dropdown-item" (click)="selectSubjectList(s.id)"
                                        style="color:#252422 !important">{{
                                        s.subject
                                        }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Select Chapater</label>
                        <div class="dropdown form-group">
                            <button class="dropdown-toggle btn btn-primary btn-round btn-block" type="button"
                                name="dropdownMenuButton" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {{ selectedChap }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <div class="dropdown-header">Select Subject</div>
                                <div *ngFor="let c of chapater">
                                    <a class="dropdown-item" (click)="selectChapaterList(c.id)"
                                        style="color:#252422 !important">{{c.chapname}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Enter Title</label>
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="videoTitle" name="videoTitle"
                                [(ngModel)]="syllabusModel.videoTitle" placeholder="Enter Video Title" required value=""
                                pattern="^[a-zA-Z0-9 ]+$" (focus)="focus = true" #videoTitle="ngModel" />
                        </div>
                        <div *ngIf="videoTitle.errors && (videoTitle.dirty || videoTitle.touched)"
                            class="alert alert-danger">
                            <div *ngIf="videoTitle.errors.required">
                                Video Title is required
                            </div>
                            <div [hidden]="!videoTitle.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="col-form-label">Enter Video Descripition</label>
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="descripition" name="descripition"
                                [(ngModel)]="syllabusModel.descripition" placeholder="Enter Video Descripition" required
                                value="" pattern="(.*?)" (focus)="focus = true" #descripition="ngModel" />
                        </div>
                        <div *ngIf="descripition.errors && (descripition.dirty || descripition.touched)"
                            class="alert alert-danger">
                            <div *ngIf="descripition.errors.required">
                                Video Descripition is required
                            </div>
                            <div [hidden]="!descripition.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Enter Time Duration</label>
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="videoLength" name="videoLength"
                                [(ngModel)]="syllabusModel.videoLength" placeholder="Enter Time Duration" required
                                value="" pattern="^[a-zA-Z0-9 ]+$" (focus)="focus = true" #videoLength="ngModel" />
                        </div>
                        <div *ngIf="videoLength.errors && (videoLength.dirty || videoLength.touched)"
                            class="alert alert-danger">
                            <div *ngIf="videoLength.errors.required">
                                Time Duration is required
                            </div>
                            <div [hidden]="!videoLength.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Enter Video Link</label>
                        <div class="form-group" [ngClass]="{ 'form-group-focus': focus === true }">
                            <input type="text" class="form-control" id="link" name="link"
                                [(ngModel)]="syllabusModel.link" placeholder="Paste Video Link Here" required value=""
                                pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
                                (focus)="focus = true" #link="ngModel" />
                        </div>
                        <div *ngIf="link.errors && (link.dirty || link.touched)" class="alert alert-danger">
                            <div *ngIf="link.errors.required">
                                Video Link is required
                            </div>
                            <div [hidden]="!link.errors('pattern')">
                                Enter Only Characters and Numbers.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-form-label">Select Syllabus Image</label>
                        <div>
                            <p style="color: red !important; font-weight: 600 !important">
                                Images Size Mustbe 300*300.
                            </p>
                        </div>
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img src="./assets/img/image_placeholder.jpg" alt="..." />
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new"><i class="fa fa-picture-o" aria-hidden="true"></i>
                                        Select Image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="syllabusImage" name="syllabusImage"
                                        (change)="selectedSyllabusImage($event)" />
                                </span>
                                <a href="javascript:void(0)" class="btn btn-danger btn-round fileinput-exists"
                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="ml-md-auto">
                    <button type="submit" class="btn btn-info btn-round"
                        [disabled]="!SyllabusForm.form.valid || !selectedStd || !selectedSub || !selectedChap"
                        (click)="addSyllabusList()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngIf="openSyllabus">
        <div class="card-header">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="card-title">Display</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3" *ngFor="let sl of syllabusList">
                    <div (click)="openVideo(sl.id)">
                        <div class="img-container">
                            <img src="http://localhost:3500{{ sl.image }}" />
                        </div>
                        <!-- <iframe width="300" height="215" [src]="sl.videolink | safe:'resourceUrl'"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> -->
                        <label class="video-title">{{sl.videotitle}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------Syllabus End Here-------------------------------------------->
    <!------------------------------------------Video Player Start Here-------------------------------------->
    <div class="row" *ngIf="openPlayer">
        <div class="col-lg-8 col-md-12 ">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="card-title">Display</h4>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <iframe width="888" height="515" [src]="safeURL | safe:'resourceUrl'"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <label class="video-title">{{vTitle}}</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header">
                    <div class="card-text">
                        <h4 class="card-title">Related Videos</h4>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let rs of relatedSyllabusVideo">
                                <td style="padding: 0px 7px !important;" (click)="openVideo(rs.rid)">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="img-container">
                                                <img src="http://localhost:3500{{ rs.rimage }}" />
                                            </div>
                                            <!-- <iframe width="180" height="120" [src]="rs.rlink | safe:'resourceUrl'"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="video-related-title">{{rs.rtitle}}</label>
                                            <label class="col-form-label">{{rs.rdescripition}}</label>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------Video Player End Here-------------------------------------->
</div>